* { font-family: Verdana, Arial;  font-size: 14px; }

body { padding: 0; margin: 0; }

main { width: 800px; margin: auto;}

header 
{ 
	display:flex; 
	justify-content:space-between; 
	align-items:center; 
}

h1 
{ 
	text-transform: uppercase; 
	color: #0a0766; 
	font-size: 18px;
}

button 
{ 
	background-color: #0a0766; 
	color: #fff; 
	border: none; 
	box-sizing: border-box; 
	padding: 5px 20px; 
	border-radius:4px; 
	cursor:pointer; 
}

table 
{ 
	width: 100%; 
	background-color: #0a0766; 
}

table th 
{
	background-color: #0a0766; 
	color:  #fff; 
	border: thin solid #fff; 
	padding:5px; 
}

table td 
{ 
	background-color: #fff; 
	box-sizing: border-box; 
	padding:5px; 
	text-align: center;
}

.block
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(3px);
}

.areaNovoProduto{
	background-color: #fff;
	width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:10px;
}

.areaNovoProduto div 
{ 
	display: flex; 
	gap:10px; 
	align-items: center; 
	width: 100%; 
	justify-content: center;
}

label { width:35%; }

input 
{ 
	border: thin solid #000; 
	border-radius:4px; 
	box-sizing:border-box; 
	padding:5px 10px;
	width: 65%; 
}

.escondido { display:none; }

.vermelho { color: red; }
